* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: AnjaliOldLipi;
    box-sizing: border-box;
}

body {
    background-color: #191919;
}

header {
    width: 100%;
    height : 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 100;
}


header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 23px 5px;
}

header nav ul li a{
    color: #EEF1EF;
    display: inline;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 2vh;
    margin: 0 10px;
    border: 1px solid transparent;
    font-size: 1.5vh;
}

#username{
    color: #EEF1EF;
    display: inline;
    padding: 10px 0;
    margin-top: 0;
    margin-left: 4vh;
    font-size: 2vh;
    font-family: AnjaliOldLipi;
}

header nav ul li #headerLinks:hover{
    border-bottom-color: white;
    transition: all 1s linear;
}

#headerLogo{
    margin-top: 1vh;
    height: 7vh;
    width: 7vh;
}

#headerImg, #loginImg, #logoutImg{
    height: 4vh;
    width: 4vh;
}

#loginImg, #logoutImg{
    margin-top: 1.5vh;
}

.hamburger div {
    width: 3vh;
    height: 0.2vh;
    margin: 0.8vh 0;
    background: white;
}

.hamburger {
    cursor: pointer;
    display: none;
    margin-top: 12px;
}

.line{
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}


.hamburger.active .l1 {
    transform: translateY(5px) rotate(135deg);
    width: 35px;
}

.hamburger.active .l2 {
    opacity: 0;
}

.hamburger.active .l3 {
    transform: translateY(-12px) rotate(-135deg);
    width: 35px;
}

@media only screen and (max-width : 500px){
    header{
        padding: 30px 30px;
    }

    header nav{
        z-index: 10000;
    }
}

@media only screen and (min-width: 500px) and (max-width : 1050px) {
    .hamburger {
        display: block;
        top: 0.8vh;
    }

    header nav{
        position: absolute;
        width: 100%;
        right: 100%;
        top: 10vh;
        width: 40vw;
        height: 100vh;
        background-color: #191919;
        backdrop-filter: blur(4px);
        transition: all 1s ease;
        padding: 3vh;
        transform: translate(0%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 1000;
    }
    header #nav_check:checked ~ nav{
        right: 0;
    }
    header nav ul{
        display: block;
    }
    header nav ul li a{
        color:white;
        margin: 5px 0 ;
    }

    header nav ul li #headerLinks{
        display: flex;
        justify-content: center;
    }

    #username{
        margin-top: 2vh;
    }

    .card-container, .card-container1,
    .card-container2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .card-container1{
        width: 100%;
    }

    .card-container2{
        width: 90%;
    }

    .card-container1 .card, .card-container2 .card2, .card-container2 .card3{
        width: 90vw;
        margin: 20px auto;
    }

    .card-container .post-card, .card-container .category-card{
        width: 90vw;
    }

    .footerImages{
        display: flex;
        justify-content: center;
        align-items:center ;
        margin-bottom: 3vh;
    }

    h2{
        font-size: 1.5vh;
    }
}

@media only screen and (min-device-width : 250px) and (max-device-width : 500px) {
    header{
        margin-top: 2vh;
    }

    .hamburger {
        display: block;
        top: 20px;
    }
    header nav{
        position: absolute;
        width: 100%;
        right: 100%;
        top: 7vh;
        width: 40vw;
        height: 100vh;
        background-color: #191919;
        backdrop-filter: blur(4px);
        transition: all 1s ease;
        padding: 20px;
        transform: translate(0%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 1000;
    }
    header #nav_check:checked ~ nav{
        right: 0;
    }
    header nav ul{
        display: block;
    }
    header nav ul li a{
        color:white;
        margin: 5px 0 ;
    }

    header nav ul li #headerLinks{
        display: flex;
        justify-content: center;
    }

    header nav{
        padding-top: 5vh;
    }

    #username{
        margin-top: 2vh;
        z-index: 10000;
    }

    #headerImg{
        margin-top: 3vh;
    }

    #loginImg, #logoutImg{
        margin-top: 1.9vh;
        z-index: 1000;
    }

    .hamburger.active .l1 {
        transform: translateY(20px) rotate(135deg);
        width: 3.6vh;
    }

    .hamburger.active .l3 {
        transform: translateY(-17px) rotate(-135deg);
        width: 3.6vh;
    }

    .card-container, .card-container1,
    .card-container2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .card-container1{
        width: 100%;
    }

    .card-container2{
        width: 80%;
    }

    .card-container1 .card, .card-container2 .card2, .card-container2 .card3{
        width: 80vw;
        margin: 10px auto;
    }

    .card-container .post-card, .card-container .category-card{
        width: 90vw;
        margin: 20px auto;
    }

    .footerImages{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom: 3vh;
    }

    #time{
        font-size: 1vh;
    }

}

#card-username{
    margin-bottom: 1vh;
    font-size: 1.7vh;
}

#time{
    margin-top: 2vh;
    color: #EEF1EF;
}

#post-number{
    color: #3f3f3f;
    font-size: 1.5vh;
}

.input{
    width: 95%;
    height: 100%;
    background: transparent;
    border: 1px solid #EEF1EF;
    border-radius: 20px;
    outline: none;
    padding-left: 1vh;
    padding-top: 2vh;
    color: white;
    font-size: 2vh;
}

#comment{
    margin-bottom: 3vh;
}

.btn{
    position: relative;
    top: 2vh;
    background: #42b34a;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 5vh;
    width: 25%;
    font-size: 20px;
    color: #242424;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

#category{
    margin-top: 0.7vh;
}

.titreErreur {
    color: white;
    font-size: 30px;
    font-family: AnjaliOldLipi
}

p{
    color: white;
    font-family: AnjaliOldLipi;
    margin-bottom: 1.5vh;
    /*
    background-color: #3e5f3e;
    padding: 10px 25px;
    border-radius: 0 0 30px 30px;
    */
}

.comment-card{
    position: relative;
    height: 25vh;
    max-height: 80vh;
    width: 70vw;
    background: #242424;
    margin-bottom: 10vh;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 4px black;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.card-container1{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 2vh;
    float: left;
}

.card-container2{
    display: grid;
    justify-content: right;
    margin-top: 20px;
}

.card{
    width: 50vw;
    height: auto;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 4px black;
    margin: 20px;
}

.card2{
    width: 40vw;
    height: 40vh;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 4px black;
    margin: 20px;
}

.card3{
    width: 40vw;
    height: 60vh;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 4px black;
    margin: 20px;
}

.post-card, .category-card{
    width: 45vw;
    height: auto;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 4px black;
    margin: 20px;
}

.category-card{
    padding-bottom: 8vh;
    margin-bottom: 15vh;
}

.card-content{
    padding: 16px;
}

.card-content i{
    color: rgba(238, 241, 239, 0.68);
    border-bottom: #42B34A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.card-content h3{
    font-size: 2vh;
    color: white;
    margin-bottom: 1vh;
    border-bottom: #42B34A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.card-content p{
    font-size: 1.8vh;
    line-height: 1.5;
    padding-top: 2vh;
}

h2{
    font-size: 3.5vh;
    color: white;
    margin-top: 4vh;
    margin-left: 5vh;
    border-bottom-width: 1px;
    border-bottom-color: #3f3f3f;
    border-bottom-style: solid;
}

.card-content ul li{
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    margin-top: 2.2vh;
    margin-left: 2vh;
    margin-bottom: 4vh;
}

.edit-delete{
    display: flex;
    justify-content: right;
    flex-direction: row;
    border-spacing: 2vh;
}

#editImg, #deleteImg{
    height: 2.5vh;
    width: 2.5vh;
    margin-left: 1vh;
}

.dot-container{
    margin-left: 2vh;
    float: left;
}

.dot-container div{
    display: flex;
    justify-content: center;
    background: #42B34A;
    border-radius: 50%;
    width: 1.5vh;
    height: 1.5vh;
    margin-top: 2vh;
    margin-bottom: 4.7vh;
}

footer{
    height: 40vh;
    width: 100%;
    background: #242424;
    position: relative;
    bottom: 0;
    flex-shrink: 0;
    padding-top: 10vh;
    padding: 4vh;
    overflow: scroll;

}

.footerImages{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 3vh;

}

#footerImg{
    margin-right: 10px;
    margin-top: 4vh;
    cursor: pointer;
    height: 3vh;
    width: 3vh;
}

.footerContact{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    color: #EEF1EF;
}

.footerCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEF1EF;
}