body{
    background: #42b34a;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #191919;
    background: #191919;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    align-content: center;
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
}

#container label{
    color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    background: #191919;
    color: white;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #42b34a;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #191919;
    color: #42b34a;
    border: 1px solid white;
}