footer{
    height: auto;
    width: 100%;
    background: #242424;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    padding: 10px;

}

.footerImages{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerImg{
    margin-right: 3vh;
    margin-top: 4vh;
    cursor: pointer;
    height: 4vh;
    width: 4vh;
}

.footerContact{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    color: #EEF1EF;
}
.footerCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEF1EF;
}